body {
  padding-top: 75px;
}

.row {
    margin-left:0;
    margin-right:0;
}
.navbar {
  background-color: #fcf155;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}

#home-quote {
  background: url("/img/bg-quote.jpg") center center;
  background-size: cover;
}

.pergunta p {
    margin-top: 10px;
}

.thead {
    background-color: #f7f262;
}

.lista-plano li + li {
  border-top: 1px solid rgba(0,0,0, .1);
}

.lista-plano li {
  border-bottom: 1px solid rgba(0,0,0, .1);
  padding: 1rem;
}

#mapDIV{
  height: 200px;
  border: solid 1px black;
}


@media (max-width: 767px) {
  #home-quote .display-4 {
    font-size: 2rem;
  }

  #h1,
  #h2 {
    font-size: 3rem;
  }

  body {
    padding-top: 0;
  }
  .fixed-top {
    position: relative;
  }

  #mainfooter {
      display: flex;
      justify-content: center;
      text-align:center;
      justify-content: center;
  }

  .btn-block {
      display: inline-block;
    
   
  }
}
